USE [master]
GO
/****** Object:  Database [QUAN_LY_DIEM_HOC_SINH_THPT]    Script Date: 25/12/2023 10:59:20 PM ******/
CREATE DATABASE [QUAN_LY_DIEM_HOC_SINH_THPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUAN_LY_DIEM_HOC_SINH_THPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUAN_LY_DIEM_HOC_SINH_THPT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUAN_LY_DIEM_HOC_SINH_THPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUAN_LY_DIEM_HOC_SINH_THPT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUAN_LY_DIEM_HOC_SINH_THPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUAN_LY_DIEM_HOC_SINH_THPT]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [nvarchar](50) NOT NULL,
	[TEN_GV] [nvarchar](50) NOT NULL,
	[PHAI_GV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI_GV] [nvarchar](50) NOT NULL,
	[MA_LOP] [nvarchar](50) NOT NULL,
	[MA_TRUONG] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MA_HS] [nvarchar](50) NOT NULL,
	[HOTEN_HS] [nvarchar](50) NOT NULL,
	[GIOITINH_HS] [nvarchar](10) NOT NULL,
	[TONGIAO] [nvarchar](10) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[MA_TRUONG] [nvarchar](50) NOT NULL,
	[MA_LOP] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KET_QUA]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KET_QUA](
	[MA_KQ] [nvarchar](30) NOT NULL,
	[DIEM] [int] NOT NULL,
	[HE_SO] [int] NOT NULL,
	[HOC_KI] [int] NOT NULL,
	[NIEN_KHOA] [nvarchar](30) NOT NULL,
	[MA_HS] [nvarchar](50) NOT NULL,
	[TEN_MON] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KET_QUA] PRIMARY KEY CLUSTERED 
(
	[MA_KQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MA_LOP] [nvarchar](50) NOT NULL,
	[TEN_LOP] [nvarchar](50) NOT NULL,
	[SI_SO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[TEN_MON] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TEN_MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_HUYNH]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_HUYNH](
	[MA_PH] [nvarchar](50) NOT NULL,
	[HOTEN_PH] [nvarchar](50) NOT NULL,
	[SDT_PH] [int] NOT NULL,
	[DIACHI_PH] [nvarchar](50) NOT NULL,
	[MA_HS] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONG]    Script Date: 25/12/2023 10:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONG](
	[MA_TRUONG] [nvarchar](50) NOT NULL,
	[TEN_TRUONG] [nvarchar](50) NOT NULL,
	[SDT_TRUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TRUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [TEN_GV], [PHAI_GV], [NGAYSINH], [DIACHI_GV], [MA_LOP], [MA_TRUONG]) VALUES (N'GV001', N'Nguyễn Thị An', N'Nữ', CAST(N'1980-03-15' AS Date), N'Số 456, Đường Lê Lợi, Quận 3, TP. Hồ Chí Minh', N'1A1', N'NVL')
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [TEN_GV], [PHAI_GV], [NGAYSINH], [DIACHI_GV], [MA_LOP], [MA_TRUONG]) VALUES (N'GV002', N'Trần Văn Bình', N'Nam', CAST(N'1975-07-20' AS Date), N'Số 789, Đường Nguyễn Huệ, Quận 1, TP. Hồ Chí Minh', N'2A3', N'BTX')
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [TEN_GV], [PHAI_GV], [NGAYSINH], [DIACHI_GV], [MA_LOP], [MA_TRUONG]) VALUES (N'GV003', N'Lê Thị Cẩm Ly', N'Nữ', CAST(N'1988-11-10' AS Date), N'Số 458, Đường Lê Lợi, Quận 4, TP. Hồ Chí Minh
', N'1A2', N'BTX')
GO
INSERT [dbo].[HOC_SINH] ([MA_HS], [HOTEN_HS], [GIOITINH_HS], [TONGIAO], [NGAYSINH], [DIACHI], [MA_TRUONG], [MA_LOP]) VALUES (N'HS001', N'Nguyễn Văn A', N'Nam', N'Không', CAST(N'2007-03-15T00:00:00.000' AS DateTime), N'Số 123, Đường ABC, Quận XYZ, Thành phố Hồ Chí Minh', N'NVL', N'1A2')
INSERT [dbo].[HOC_SINH] ([MA_HS], [HOTEN_HS], [GIOITINH_HS], [TONGIAO], [NGAYSINH], [DIACHI], [MA_TRUONG], [MA_LOP]) VALUES (N'HS002', N'Trần Thị B', N'Nữ', N'Công giáo', CAST(N'2008-07-20T00:00:00.000' AS DateTime), N'Số 456, Đường DEF, Quận UVW, Thành phố Hồ Chí Minh', N'NAN', N'0A1')
INSERT [dbo].[HOC_SINH] ([MA_HS], [HOTEN_HS], [GIOITINH_HS], [TONGIAO], [NGAYSINH], [DIACHI], [MA_TRUONG], [MA_LOP]) VALUES (N'HS003', N'Lê Văn C', N'Nam', N'Phật giáo', CAST(N'2006-11-10T00:00:00.000' AS DateTime), N'Số 789, Đường GHI, Quận JKL, Thành phố Hồ Chí Minh', N'BTX', N'2A3')
GO
INSERT [dbo].[KET_QUA] ([MA_KQ], [DIEM], [HE_SO], [HOC_KI], [NIEN_KHOA], [MA_HS], [TEN_MON]) VALUES (N'KQ001', 7, 2, 1, N'2023-2024', N'HS001', N'Toán')
INSERT [dbo].[KET_QUA] ([MA_KQ], [DIEM], [HE_SO], [HOC_KI], [NIEN_KHOA], [MA_HS], [TEN_MON]) VALUES (N'KQ002', 8, 1, 1, N'2023-2024', N'HS002', N'Toán')
INSERT [dbo].[KET_QUA] ([MA_KQ], [DIEM], [HE_SO], [HOC_KI], [NIEN_KHOA], [MA_HS], [TEN_MON]) VALUES (N'KQ003', 9, 2, 1, N'2023-2024', N'HS003', N'Ngữ văn')
GO
INSERT [dbo].[LOP] ([MA_LOP], [TEN_LOP], [SI_SO]) VALUES (N'0A1', N'10A1', 40)
INSERT [dbo].[LOP] ([MA_LOP], [TEN_LOP], [SI_SO]) VALUES (N'0A2', N'10A2', 40)
INSERT [dbo].[LOP] ([MA_LOP], [TEN_LOP], [SI_SO]) VALUES (N'0A3', N'10A3', 40)
GO
INSERT [dbo].[MON] ([TEN_MON]) VALUES (N'Anh văn')
INSERT [dbo].[MON] ([TEN_MON]) VALUES (N'Công nghệ')
INSERT [dbo].[MON] ([TEN_MON]) VALUES (N'Địa lý')
GO
INSERT [dbo].[PHU_HUYNH] ([MA_PH], [HOTEN_PH], [SDT_PH], [DIACHI_PH], [MA_HS]) VALUES (N'PH001', N'Nguyễn Thị A', 987654321, N'Số 123, Đường ABC, Quận XYZ, Thành phố Hồ Chí Minh', N'HS001')
INSERT [dbo].[PHU_HUYNH] ([MA_PH], [HOTEN_PH], [SDT_PH], [DIACHI_PH], [MA_HS]) VALUES (N'PH002', N'Trần Văn B', 901234567, N'Số 456, Đường DEF, Quận UVW, Thành phố Hồ Chí Minh', N'HS002')
INSERT [dbo].[PHU_HUYNH] ([MA_PH], [HOTEN_PH], [SDT_PH], [DIACHI_PH], [MA_HS]) VALUES (N'PH003', N'Lê Thị Cẩm L', 912345678, N'Số 789, Đường GHI, Quận JKL, Thành phố Hồ Chí Minh', N'HS003')
GO
INSERT [dbo].[TRUONG] ([MA_TRUONG], [TEN_TRUONG], [SDT_TRUONG]) VALUES (N'BTX', N'Trường THPT Bùi Thị Xuân', 123456789)
INSERT [dbo].[TRUONG] ([MA_TRUONG], [TEN_TRUONG], [SDT_TRUONG]) VALUES (N'HV', N'Trường THPT Hùng Vương', 123456789)
INSERT [dbo].[TRUONG] ([MA_TRUONG], [TEN_TRUONG], [SDT_TRUONG]) VALUES (N'LTV', N'Trường THPT Lương Thế Vinh', 123456789)
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD FOREIGN KEY([MA_TRUONG])
REFERENCES [dbo].[TRUONG] ([MA_TRUONG])
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD FOREIGN KEY([MA_TRUONG])
REFERENCES [dbo].[TRUONG] ([MA_TRUONG])
GO
ALTER TABLE [dbo].[KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_KET_QUA_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[KET_QUA] CHECK CONSTRAINT [FK_KET_QUA_HOC_SINH]
GO
ALTER TABLE [dbo].[KET_QUA]  WITH CHECK ADD  CONSTRAINT [FK_KET_QUA_MON] FOREIGN KEY([TEN_MON])
REFERENCES [dbo].[MON] ([TEN_MON])
GO
ALTER TABLE [dbo].[KET_QUA] CHECK CONSTRAINT [FK_KET_QUA_MON]
GO
ALTER TABLE [dbo].[PHU_HUYNH]  WITH CHECK ADD FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [GIOITINH_HS] CHECK  (([GIOITINH_HS]=N'Nam' OR [GIOITINH_HS]=N'Nữ'))
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [GIOITINH_HS]
GO
ALTER TABLE [dbo].[KET_QUA]  WITH CHECK ADD  CONSTRAINT [HOC_KI] CHECK  (([HOC_KI]=(1) OR [HOC_KI]=(2)))
GO
ALTER TABLE [dbo].[KET_QUA] CHECK CONSTRAINT [HOC_KI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [GIOIHANLOP] CHECK  (([SI_SO]<=(40)))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [GIOIHANLOP]
GO
USE [master]
GO
